name: Main Build Process

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - 'app/**'
      - '.github/**'

jobs:
  build-android:
    env:
      GITHUB_TOKEN: ${{ secrets.TOKEN }}
      MESSAGE: ${{ github.event.head_commit.message }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.3

      - uses: actions/setup-java@v1.4.4
        with:
          java-version: "12.x"

      - uses: subosito/flutter-action@v2.10.0
        with:
          channel: "stable"

      - name: build
        run: sh ./app/android/build-scripts/build.sh

  build-windows:
    env:
      GITHUB_TOKEN: ${{ secrets.TOKEN }}
      MESSAGE: ${{ github.event.head_commit.message }}
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.3

      - uses: subosito/flutter-action@v2.10.0
        with:
          channel: "stable"

      - name: build
        run: .\app\windows\build-scripts\build.bat